<!-- <div class="d-flex justify-content-center"> -->
  <div>
<div class="d-flex justify-content-center">
    <div class="col-md-9">
      <h4>{{pro.nombre}}</h4>
    <p>{{pro.descripcion}}</p>
    <p class="card-text"><small class="text-muted">{{pro.realizacion}}</small></p>
     <p> <small class="text-muted">{{pro.link}}</small></p>
  </div>
</div>
    <div *ngIf="authService()" class="d-flex flex-row flex-wrap justify-content-center">
      <form  (ngSubmit)="onSubmit()" enctype="multipart/form-data">
       
        <div class="m-1"><input type="text"  id="nombre" placeholder="Enter nombre" name="nombre"  value={{nombre}} [(ngModel)]="nombre"/></div>
        
        <div class="m-1"><input type="text"  id="descripcion" placeholder="Enter descripcion" name="descripcion"  value={{descripcion}} [(ngModel)]="descripcion"/></div>
        
        <div class="m-1"> <input type="text"  id="realizacion" placeholder="Enter realizacion" name="realizacion" value={{realizacion}} [(ngModel)]="realizacion"/></div>
       
        
          <div class="m-1"> <input type="text"  id="link" placeholder="Enter link" name="link"  value={{link}} [(ngModel)]="link"/></div>
      
        <app-button-edit></app-button-edit>
    <app-button-delete (click)="deleteProyecto(pro.id)"></app-button-delete>
      </form>
  </div>
  
 
</div>