<div class="container p-5 " >
  <div class="d-flex justify-content-between">
  
    <div class="rounded-circle " style="float: left; margin-top: -130px;" >
      <img src="../../../assets/img/yo.jpeg" class="rounded-circle" style="width:200px;height: 200px;"alt="yo"/>
      <p class="card-text text-center"><small class="text-muted"> Javier Beriguete Baez</small></p>
      <p class="card-text text-center"><small class="text-muted">Fullstack Develop jr.</small></p>
    </div>
    <div  style="float: right;">
      <div class="card-body">
        <h5 class="card-title">Acerda de</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div *ngIf="authService()">
    <app-button-edit ></app-button-edit>
  </div>
  </div>
</div>
