<div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <div class="d-flex ">
        <img src="../../../assets/img/logoArgentinaPrograma.jpg" alt="logoArgentinaPrograma" style="width:40px;" class="rounded-pill"/>
        <span class="navbar-text mx-2">Argentina Programa</span>     
     </div>
        <div class="d-flex">
          <img src="../../../assets/img/logoArgentinaPrograma.jpg" alt="logoArgentinaPrograma" style="width:40px;" class="rounded-pill mx-2"/>
           <a routerLink='/login' routerLinkActive="active" class="navbar-text" *ngIf="!authService()">Login</a>
           <a  routerLink='/home' class="navbar-text" routerLinkActive="active" (click)="logout()" *ngIf="authService()">Logout</a>
        </div>
    </div>
  </nav>
  <div class=" bg-dark rounded">
    <img src="../../../assets/img/Banner.jpg" alt="Banner" width="100%;" height="500px;"/>
    
  </div>
  <div *ngIf="authService()" class="float-end me-5 ">
  <app-button-edit></app-button-edit>
  </div>
</div>